/* line 3, ../scss/sass/_base.scss */
h1, h2, h3, h4, h4 {
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../scss/sass/_base.scss */
h1 {
  font-weight: 700;
}
/* line 10, ../scss/sass/_base.scss */
h1 small {
  font-weight: 700;
}

/* line 15, ../scss/sass/_base.scss */
.inline li {
  display: inline;
  list-style-type: none;
}

@-webkit-keyframes rise {
  0%,60%,75%, 90%,100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes rise {
  0%,60%,75%, 90%,100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rise {
  0%,60%,75%, 90%,100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes scale {
  0%,60%,75%, 90%,100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  60% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(0.9, 0.9);
  }
  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes scale {
  0%,60%,75%, 90%,100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  60% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(0.9, 0.9);
  }
  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes scale {
  0%,60%,75%, 90%,100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  60% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(0.9, 0.9);
  }
  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slide-down {
  0% {
    transform: translate3d(0, -3000px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slide-down {
  0% {
    transform: translate3d(0, -3000px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-down {
  0% {
    transform: translate3d(0, -3000px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -3000px, 0);
  }
}
@-moz-keyframes slide-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -3000px, 0);
  }
}
@keyframes slide-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -3000px, 0);
  }
}
/* Animations */
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@-moz-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@-webkit-keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}
@-moz-keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}
@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}
@-webkit-keyframes fade {
  0% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 18, ../scss/sass/_anim.scss */
#city {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 4s;
  -webkit-animation-name: rise;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 4s;
  -moz-animation-name: rise;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 4s;
  -o-animation-name: rise;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 4s;
  animation-name: rise;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

/* line 22, ../scss/sass/_anim.scss */
#temperature {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: rise;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 5s;
  -moz-animation-name: rise;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 5s;
  -o-animation-name: rise;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 5s;
  animation-name: rise;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

/* line 27, ../scss/sass/_anim.scss */
.weather-content {
  overflow: hidden;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 6s;
  -webkit-animation-name: rise;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 6s;
  -moz-animation-name: rise;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 6s;
  -o-animation-name: rise;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 6s;
  animation-name: rise;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

/* line 8, ../scss/sass/_loadingscreen.scss */
.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: #0078CA;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #0078CA, 2.0625em 0.9375em 0 -0.9375em #0078CA, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}

/* line 26, ../scss/sass/_loadingscreen.scss */
.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: #0078CA;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}

/* line 37, ../scss/sass/_loadingscreen.scss */
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}

/* line 50, ../scss/sass/_loadingscreen.scss */
.cloud:nth-child(2):after {
  background: #fff;
}

/* line 52, ../scss/sass/_loadingscreen.scss */
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: #0078CA;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}

/* line 64, ../scss/sass/_loadingscreen.scss */
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}

/* line 76, ../scss/sass/_loadingscreen.scss */
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}

/* line 91, ../scss/sass/_loadingscreen.scss */
.rays:before {
  transform: rotate(120deg);
}

/* line 94, ../scss/sass/_loadingscreen.scss */
.cloud + .sun {
  margin: -2em 1em;
}

/* line 98, ../scss/sass/_loadingscreen.scss */
.rain,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: #0078CA;
}

/* line 110, ../scss/sass/_loadingscreen.scss */
.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}

/*
#loadscreen-wrapper{
  position:fixed;
  text-align:center;
  height: 100%;
  width: 100%;


*/
/* line 139, ../scss/sass/_loadingscreen.scss */
#loadscreen {
  display: block;
  z-index: 2000;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-down;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-down;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0;
  -o-animation-duration: 1s;
  -o-animation-name: slide-down;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-down;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
  position: fixed;
  text-align: center;
  height: 100%;
  width: 100%;
  background: #0078CA;
}
/* line 149, ../scss/sass/_loadingscreen.scss */
#loadscreen .icon {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: scale;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 3s;
  -moz-animation-name: scale;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0;
  -o-animation-duration: 3s;
  -o-animation-name: scale;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 3s;
  animation-name: scale;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  top: 30%;
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em;
  /* control icon size here */
}
/* line 160, ../scss/sass/_loadingscreen.scss */
#loadscreen svg {
  width: 7em;
  position: relative;
  top: 7em;
  left: 1.5em;
}

/* line 168, ../scss/sass/_loadingscreen.scss */
#loadscreen.closing {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-up;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-up;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-name: slide-up;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: slide-up;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

/* line 172, ../scss/sass/_loadingscreen.scss */
#loadscreen.closed {
  display: none;
}

/*}*/
/* line 10, ../scss/sass/main.scss */
body #btn-statistiques {
  top: 20px;
  left: 20px;
  padding-top: 0px;
}
/* line 16, ../scss/sass/main.scss */
body #body-background {
  position: absolute;
  background: #F1F1F1 none repeat scroll 0% 0%;
  width: 100%;
  height: 100%;
}
/* line 23, ../scss/sass/main.scss */
body #body-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
}
/* line 29, ../scss/sass/main.scss */
body #body-wrapper .organic_search {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  border-radius: 50%;
  overflow: hidden;
  transform-origin: 100% 0px 0px;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/* line 41, ../scss/sass/main.scss */
body #body-wrapper .organic_search_content {
  margin-top: 4.5em;
}
/* line 44, ../scss/sass/main.scss */
body #body-wrapper .organic_search_content .card-panel {
  transition: all .4s ease 0s, color 0.4s ease 0s;
  cursor: pointer;
}
/* line 47, ../scss/sass/main.scss */
body #body-wrapper .organic_search_content .card-panel .city {
  color: white;
  font-size: 2em;
  font-weight: 700;
}
/* line 53, ../scss/sass/main.scss */
body #body-wrapper .organic_search_content .card-panel:hover {
  background-color: #ef5350 !important;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.16), 0px 6px 30px 0px rgba(0, 0, 0, 0.12);
}
/* line 59, ../scss/sass/main.scss */
body #body-wrapper .organic_search_control {
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  text-align: center;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  background-color: #ef5350;
}
/* line 68, ../scss/sass/main.scss */
body #body-wrapper .organic_search_control i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 76, ../scss/sass/main.scss */
body #body-wrapper .organic_search_form {
  display: none;
  height: 160px;
  margin: 0px auto;
  transform: translate3d(0px, 3em, 0px);
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  position: relative;
  transition-property: width, height, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
/* line 87, ../scss/sass/main.scss */
body #body-wrapper .organic_search_form_input {
  width: 100%;
  height: 100%;
  padding: 0;
  font-weight: 700;
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
  font-size: 7em;
  color: #ef5350;
  transition: font-size 500ms cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
/* line 101, ../scss/sass/main.scss */
body #body-wrapper .organic_search.open {
  background: #F1F1F1 none repeat scroll 0% 0%;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  border-radius: 0%;
}
/* line 109, ../scss/sass/main.scss */
body #body-wrapper .organic_search.open .organic_search_control {
  color: black;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/* line 118, ../scss/sass/main.scss */
body #body-wrapper .organic_search.open .organic_search_form {
  display: block;
}
/* line 124, ../scss/sass/main.scss */
body #body-wrapper .organic_search.start .organic_search_control {
  top: 30%;
  right: 50%;
  transform: translate(-100px, -50%);
  cursor: default;
}
/* line 130, ../scss/sass/main.scss */
body #body-wrapper .organic_search.start .organic_search_form {
  display: block;
  height: 50px;
  width: 300px;
  top: 30%;
  position: fixed;
  right: 50%;
  font-size: 9px;
  transform: translate(70%, -50%);
}
/* line 139, ../scss/sass/main.scss */
body #body-wrapper .organic_search.start .organic_search_form_input {
  border-bottom: 1px solid;
}
/* line 148, ../scss/sass/main.scss */
body #body-wrapper main {
  transition: opacity 500ms;
}
/* line 151, ../scss/sass/main.scss */
body #body-wrapper main.start {
  opacity: 0;
}
/* line 156, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper {
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  position: relative;
}
/* line 162, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .ct-series-a .ct-line,
body #body-wrapper main .weather-wrapper .ct-series-a .ct-point {
  stroke: blue;
}
/* line 167, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .ct-series-b .ct-line,
body #body-wrapper main .weather-wrapper .ct-series-b .ct-point {
  stroke: green;
}
/* line 172, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .start {
  background-image: url(/images/bg1.jpg);
  background-size: cover;
}
/* line 180, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-intro {
  overflow: hidden;
}
/* line 184, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content-wrapper {
  overflow: hidden;
}
/* line 187, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content-wrapper .card {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
/* line 193, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content-wrapper .weather-types .type-weather {
  display: block;
  margin: auto;
  margin-top: 20px;
}
/* line 200, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content-wrapper .today-informations {
  text-align: center;
  color: black;
  font-style: italic;
}
/* line 207, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content-wrapper .weather-options .weather-option {
  display: block;
  margin: auto;
  margin-top: 20px;
}
/* line 217, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .city-name-wrapper {
  text-align: center;
  color: #122b40;
  font-size: 7em;
}
/* line 223, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-temperature-wrapper {
  text-align: center;
}
/* line 228, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper #temperature {
  color: #122b40;
  font-size: 6em;
}
/* line 233, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper small {
  color: #122b40;
  font-size: 0.50em;
}
/* line 243, ../scss/sass/main.scss */
body #body-wrapper .historic-wrapper .historic-body .btn-floating {
  top: -50px;
}
/* line 246, ../scss/sass/main.scss */
body #body-wrapper .historic-wrapper .historic-body .tabs {
  margin-bottom: 50px;
}
