/* line 3, ../scss/sass/_base.scss */
h1, h2, h3, h4, h4 {
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../scss/sass/_base.scss */
h1 {
  font-weight: 700;
}
/* line 10, ../scss/sass/_base.scss */
h1 small {
  font-weight: 700;
}

/* line 15, ../scss/sass/_base.scss */
.inline li {
  display: inline;
  list-style-type: none;
}

/* line 8, ../scss/sass/main.scss */
body #body-background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
/* line 25, ../scss/sass/main.scss */
body #body-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
}
/* line 31, ../scss/sass/main.scss */
body #body-wrapper .organic_search {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  border-radius: 50%;
  overflow: hidden;
  transform-origin: 100% 0px 0px;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/* line 43, ../scss/sass/main.scss */
body #body-wrapper .organic_search .organic_search_control {
  color: white;
  position: fixed;
  height: 50px;
  width: 50px;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  text-align: center;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  background-color: #F44336;
}
/* line 54, ../scss/sass/main.scss */
body #body-wrapper .organic_search .organic_search_control i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 62, ../scss/sass/main.scss */
body #body-wrapper .organic_search .organic_search_form {
  display: none;
  width: 80%;
  height: 160px;
  margin: 0px auto;
  transform: translate3d(0px, 3em, 0px);
  position: relative;
  transition-property: width, height, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
/* line 73, ../scss/sass/main.scss */
body #body-wrapper .organic_search .organic_search_form .organic_search_input {
  width: 100%;
  height: 100%;
  padding: 0;
  font-weight: 700;
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
  font-size: 7em;
  color: #EC5A62;
  transition: font-size 500ms cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
/* line 89, ../scss/sass/main.scss */
body #body-wrapper .organic_search.open {
  background: #F1F1F1 none repeat scroll 0% 0%;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  border-radius: 0%;
}
/* line 97, ../scss/sass/main.scss */
body #body-wrapper .organic_search.open .organic_search_control {
  color: black;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/* line 106, ../scss/sass/main.scss */
body #body-wrapper .organic_search.open .organic_search_form {
  display: block;
}
/* line 118, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .ct-series-a .ct-line,
body #body-wrapper main .weather-wrapper .ct-series-a .ct-point {
  stroke: blue;
}
/* line 123, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .ct-series-b .ct-line,
body #body-wrapper main .weather-wrapper .ct-series-b .ct-point {
  stroke: green;
}
/* line 136, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content {
  padding-top: 50px;
}
/* line 139, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content .card {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
/* line 145, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content .weather-types .type-weather {
  display: block;
  margin: auto;
  margin-top: 20px;
}
/* line 153, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-content .weather-options .weather-option {
  display: block;
  margin: auto;
  margin-top: 20px;
}
/* line 163, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .city-name-wrapper {
  text-align: center;
  color: #122b40;
  font-size: 7em;
}
/* line 169, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper .weather-body .weather-temperature-wrapper {
  text-align: center;
}
/* line 176, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper #temperature {
  color: #122b40;
  font-size: 6em;
}
/* line 181, ../scss/sass/main.scss */
body #body-wrapper main .weather-wrapper small {
  color: #122b40;
  font-size: 0.50em;
}
