
@mixin keyframe($name) {
  @-webkit-keyframes #{$name} {
    @content
  }

  @-moz-keyframes #{$name} {
    @content
  }

  @keyframes  #{$name} {
    @content
  }
}

// Rise animation
@include keyframe(rise){
  0%,60%,75%, 90%,100%{
    transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.00);
  }

  0%{
    opacity: 0;
    transform: translate3d(0,3000px,0);
  }

  60%{
    opacity: 1;
    transform: translate3d(0,-20px,0);
  }

  75%{
    transform: translate3d(0,10px,0);
  }

  90%{
    transform: translate3d(0,-5px,0);
  }

  100%{
    transform: translate3d(0,0,0);
  }
}


@include keyframe(scale){
  0%,60%,75%, 90%,100%{
    transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.00);
  }

  0%{
    opacity: 0;
    transform: scale(0,0);
  }

  60%{
    opacity: 1;
    transform: scale(1.2,1.2);
  }

  75%{
    transform: scale(0.9,0.9);
  }

  90%{
    transform: scale(1.1,1.1);
  }

  100%{
    transform:scale(1,1);
  }
}

// Open loadscreen animation
@include keyframe(slide-down){

  0%{
    transform: translate3d(0,-3000px,0);
  }


  100%{
    transform: translate3d(0,0,0);
  }
}

// close loadscreen animation
@include keyframe(slide-up){

  0%{
    transform: translate3d(0,0,0);
  }

  100%{
    transform: translate3d(0,-3000px,0);
  }
}


/* Animations */

@include keyframe(spin) {
  100% { transform: rotate(360deg); }
}

@include keyframe(cloud){
  0% { opacity: 0; }
  50% { opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}

@include keyframe(rain) {
  0% {
    background: #0cf;
    box-shadow:
            0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
            -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
            -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow:
            0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
            -0.875em 1.125em 0 -0.125em #0cf,
            -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow:
            0.625em 0.875em 0 -0.125em #0cf,
            -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
            -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow:
            0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
            -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
            -1.375em -0.125em 0 #0cf;
  }
}