
@import "keyframe";
@import "animation";
@import "colors";



.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: $color_bg;
  border-radius: 50%;
  box-shadow:
          -2.1875em 0.6875em 0 -0.6875em $color_bg,
          2.0625em 0.9375em 0 -0.9375em $color_bg,
          0 0 0 0.375em #fff,
          -2.1875em 0.6875em 0 -0.3125em #fff,
          2.0625em 0.9375em 0 -0.5625em #fff;
}

.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: $color_bg;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow:
          -2.1875em 0.6875em 0 -0.6875em #fff,
          2.0625em 0.9375em 0 -0.9375em #fff,
          0 0 0 0.375em #fff,
          -2.1875em 0.6875em 0 -0.3125em #fff,
          2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #fff; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: $color_bg;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}

.rain,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: $color_bg;
}

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow:
          0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
          -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
          -1.375em -0.125em 0 rgba(255,255,255,0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}



#loadscreen-wrapper{
  position:fixed;
  text-align:center;
  height: 100%;
  width: 100%;



  #loadscreen{
    display: block;
    z-index: 2000;
    @include animation(0,1s,slide-down);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    position:fixed;
    text-align:center;
    height: 100%;
    width: 100%;
    background: #0078CA;
    .icon {
      @include animation(0,3s,scale);
      top: 30%;
      position: relative;
      display: inline-block;
      width: 12em;
      height: 10em;
      font-size: 1em; /* control icon size here */
    }


    svg{
      width: 7em;
      position: relative;
      top: 7em;
      left: 1.5em;
    }

  }
  #loadscreen.closing{
    @include animation(0,3s,slide-up);
  }

  #loadscreen.closed{
    display: none;
  }



}



