@import "base" ;
@import "anim";
@import "loadingscreen";

$transition_duration: 500ms;

body {

  #body-background {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

  }

  #body-wrapper {
    position: absolute;
    width: 100%;
    z-index: 2;

    //Close
    .organic_search {
        height: 50px;
        width: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10000;
        border-radius: 50%;
        overflow: hidden;
        transform-origin: 100% 0px 0px;
        transition: all $transition_duration cubic-bezier(0.7, 0, 0.3, 1) 0ms;

      &_content {
        margin-top: 4.5em;

        .card-panel{
          cursor: pointer;
          .city{
            font-size: 2em;
            font-weight: 700;
            strong{
              color: #EC5A62;
            }
          }
        }
        .card-panel:hover {
          box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.16), 0px 6px 30px 0px rgba(0, 0, 0, 0.12);
        }



      }

      &_control {
            color: white;
            position: fixed;
            height: 50px;
            width: 50px;
            top: 20px;
            right: 20px;
            border-radius: 50%;
            text-align: center;
            transition: all $transition_duration cubic-bezier(0.7, 0, 0.3, 1) 0ms;
            background-color: #F44336 ;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
      }

      &_form {
        display: none;
        height: 160px;
        margin: 0px auto;
        transform: translate3d(0px, 3em, 0px);
        position: relative;
        transition-property: width, height, transform;
        transition-duration: $transition_duration;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

        &_input{
          width: 100%;
          height: 100%;
          padding: 0;
          font-weight: 700;
          border: medium none;
          background: transparent none repeat scroll 0% 0%;
          font-size: 7em;
          color: #EC5A62;
          transition: font-size $transition_duration cubic-bezier(0.7, 0, 0.3, 1) 0s;
        }
      }


      &.open{
        background: #F1F1F1 none repeat scroll 0% 0%;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        border-radius: 0%;

        .organic_search_control {
          color: black;
          width: 50px;
          height: 50px;
          top: 20px;
          right: 20px;
          transition: all $transition_duration cubic-bezier(0.7, 0, 0.3, 1) 0ms;
        }

        .organic_search_form {
          display: block;
        }
      }

      &.start {
        .organic_search_control {
          top: 50%;
          right: 50%;
          transform: translate(-100px, -50%);
          cursor: default;
        }
        .organic_search_form {
          display: block;
          height: 50px;
          width: 300px;
          top: 50%;
          position: fixed;
          right: 50%;
          font-size: 9px;
          transform: translate(70%, -50%);
          &_input {
            border-bottom: 1px solid;
          }
        }

      }
    }


    main{
      transition: opacity 500ms;

      &.start {
        opacity: 0;
      }

      // Weather
      .weather-wrapper{


        .ct-series-a .ct-line,
        .ct-series-a .ct-point {
          stroke: blue;
        }

        .ct-series-b .ct-line,
        .ct-series-b .ct-point {
          stroke: green;
        }



        // Body
        .weather-body{

          .weather-intro{
            overflow: hidden;
          }

          .weather-content-wrapper{
            padding-top: 50px;
            overflow: hidden;

            .card{
             background-color: rgba(255,255,255,0.9) !important;
            }

            .weather-types{

              .type-weather{
                display:block;
                margin: auto;
                margin-top: 20px;
              }
            }

            .weather-options{
              .weather-option{
                display:block;
                margin: auto;
                margin-top: 20px;
              }
            }

          }

          // city name
          .city-name-wrapper{
            text-align: center;
            color: #122b40;
            font-size: 7em;
          }

          .weather-temperature-wrapper{
            text-align: center;
          }
        }



        #temperature{
          color: #122b40;
          font-size: 6em;
        }

        small{
          color: #122b40;
          font-size: 0.50em;
        }

      }
    }


  }
}
